.App {
  font-family: sans-serif;
  padding: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fcd8d8;
  height: 500px;
  width: 300px;
}

.products {
 display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}