.App {
  font-family: sans-serif;
  padding: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fcd8d8;
  height: 200px;
  width: 100px;
}

.products {
 display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.images{
  height: 100px;
  width: 100px;
}

p{
  font-size: 70%;
}